#artist-search .artist {float: left; width: 200px; height: 200px; background-position:50% 50%; background-repeat:no-repeat; background-size: cover; position: relative; overflow: hidden; cursor: pointer;}
#artist-search .artist .info {background:rgba(255, 255, 255, 0.7); bottom:-65px; color:#333333; font-size:18px; font-weight:bold; padding:10px;    position:absolute; text-align:center; text-shadow:0 0 1px #bbb; width:180px;}

#artist-overview > div {-moz-box-sizing: border-box; box-sizing: border-box;}
.artist-similar {background-color: #444; height: 400px; width: 310px;  overflow: auto;}
.artist-tracks {background-color: #333338; height: 600px; width: 250px; overflow: auto;}
.tracks-sources {background-color: #444; height: 400px; width: 240px;  overflow: auto;}
.ad {background: url(img/ad.png) no-repeat; cursor: pointer; height: 200px; width: 240px;}

.player {background: #222; width: 310px;height: 200px;}
.cp-container {top: 20px; left: 66px;}

.artist-info h3 {color: #FFD; text-shadow: 0 0 1px #333; font-size: 21px; border-bottom: 1px solid; margin-bottom: 4px; font-family: Georgia;}
.artist-info p {font-size: 12px; font-family: arial; color: #bba; line-height: 16px;}
.artist-info .tags span {margin-right: 10px; color: #CC9; padding: 2px 0px; cursor: pointer; font-size: 13px; font-family: monospace;}
.artist-info .tags span:hover {border-bottom: 1px dashed;}
.artist-info .links {color: #ddd; margin: 10px 0 0; position: absolute; bottom: 6px; font-size: 14px; font-family: Arial;}
.artist-info .links a {margin-right: 10px; cursor: pointer;}
.artist-info .links a:hover {border-bottom: 1px dashed;}


.artist-tracks .head {background: #333; color: #EEE;padding: 5px; text-align:center; font-size: 13px; font-family: Georgia; font-weight: bold;}
.artist-tracks .track {padding: 5px; background: #333338; color: #bbb; text-shadow: 0 0 1px #555; border-bottom: 1px solid #555; cursor: pointer; font-family: Verdana; font-size: 12px;}
.artist-tracks .track:hover {color: #ccc;}
.artist-tracks .track.selected {background: #AAA; color: #333; text-shadow: 0 0 1px #CCC;}
.artist-tracks .track i {float: right; font-size: 9px; padding-top: 2px;}

.artist-similar .similar {background-repeat:no-repeat; background-size:cover; float:left;  height:100px;
 width:100px;  overflow: hidden; cursor: pointer;}
.firefox .similar {width: 97px !important; height: 97px !important;}
.artist-similar .similar div {background: rgba(255, 255, 255, 0.7); text-align: center; font-size: 13px; position: relative; top: -40px; padding: 4px 2px;}



.col1 {width: 310px; float: left;}
.col2 {float: left; width: 250px;}
.col3 {float: left; width: 240px;}

.tracks-sources .source {color: #333; overflow: hidden; padding: 5px; cursor: pointer; background: #444; font-family: Verdana; border-bottom: 1px solid #555; font-size: 11px; color: #ccc; text-shadow: 0 0 1px #333;}
.tracks-sources .source:hover {color: #ccc;}
.tracks-sources .source.selected {background: #AAA; color: #333; text-shadow: 0 0 1px #CCC;}
.tracks-sources .source .title {white-space: nowrap; float: left; width: 163px; overflow: hidden; text-overflow: ellipsis; font-size: 12px;}
.tracks-sources .source .time {width: 50px; float: right; text-align: right;}


.artist-player .player {background: #222; width: 310px; height: 200px; float: left;}


