html {background: black;}
body {background: black; height: 600px; width: 800px;}
body > div.view {background: white; width: 800px; height: 600px; position: fixed; background: black; left: -800px;}
body > div#home {left: 0;}

.load4 {background: url(img/loader-444.gif) no-repeat center center;}
.load6 {background: url(img/loader-666.gif) no-repeat center center;}
.hide {display: none;}
.lt {float: left;}
.rt {float: right;}





#home input {border: 8px solid #1C303A; font-size:32px; left:210px; padding:8px 10px; position:absolute; top:240px; width:400px;}
#home div.button {background:url("img/magnifier.png") no-repeat; height:60px; width:60px; position: absolute; 
	top: 243px; left: 578px; cursor: pointer; background-position: 10px 12px; opacity: 0.4;}



/****
 * Scrollbars
 ***************/
::-webkit-scrollbar {width: 10px; height: 10px; background: none;}
::-webkit-scrollbar-track:vertical { background: #111;}
::-webkit-scrollbar-thumb {width: 10px; height: 20px;background: #666;}
::-webkit-scrollbar-button: {display: none;}  